################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SupermarketManagementSystem/.vs/SupermarketManagementSystem/v15/Server/sqlite3
