<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SMS_Copy2ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;D:\DMU 2nd Year\Project Management &amp; Development\PMD_GU-Extra\SupermarketManagementSystem\App_Data\SMS_Copy2.mdf&quot;;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
</configuration>